[licensemap]
D:\Zhijie_Workplace\data\compare_license\License.xlsx=D:\Zhijie_Workplace\data\compare_license\sales.xlsx
D:\Zhijie_Workplace\data\compare_license\license1.xlsx = D:\Zhijie_Workplace\data\compare_license\sales1.xlsx
[productmap]
NE40E=NE40E
CX600=CX600
NE9000=NE9000
NE40E1=NE40E1
CX6001=CX6001
NE90001=NE90001